/*set screen*/
*{
	margin: auto;
	/*background-image:cool.png;*/
}
body{
	background-color: #24442f;
}
#screen {
	/*flex-wrap: wrap;*/
	border:1px solid #d3d3d3;
	margin: 20px auto;
	width: 810px;
	height: 720px;
	background-image: url("../img/back9.jpg");
	background-repeat: no-repeat;
	background-size: 820px 720px;
	text-align: center;
}
#screen h1{
	position: relative;
	top: 25%;
	font-size: 4em;
	color : #ADFF2F;
}
#startMenu{
	position: relative;
	top: 45%;
	font-size:40px;
}
#startMenu #subMenu{
	position: relative;
}
#startMenu #startButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin:2% 0%;
    transition-duration: 0.4s;
}
#startMenu #startButton:hover{
	background-color: white;
	border: 2px solid #4CFF50;
	color: black;
}
#startMenu #startButton:active{
	padding: 10px 25px;
}
#startMenu #scoreButton{
	background-color: #9d2700;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin:2% 0%;
    transition-duration: 0.4s;
}
#startMenu #scoreButton:hover{
	background-color: white;
	border: 2px solid #AF504C;
	color: black;
}
#startMenu #scoreButton:active{
	padding: 10px 25px;
}


